html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(72,72,72);
  font-size: 17px;
  margin: 0;
}

.cover-banner {
	position: relative;
  width: 100%;
  min-height: 150px;
  margin-top: -22px;
  margin-bottom: 22px;
  padding: 0;
	opacity: 0.7;
	background: url('../images/header.jpg');
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Segoe UI, Arial, sans-serif;
	font-size: 14px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-muted {
  color: #6c757d!important;
}

.rounded {
  border-radius: .25rem!important;
}

@media (max-width: 767px) {
  .navbar-brand {
    padding: 0px 15px;
  }
}

.no-border {
  border: none !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
}

.d-block {
  display: block!important;
}
b, strong {
  font-weight: bolder;
}

.pb-2, .py-2 {
  padding-bottom: .5rem!important;
}

.pb-3, .py-3 {
  padding-bottom: 1rem!important;
}

.pt-3, .py-3 {
  padding-top: 1rem!important;
}

.mb-0, .my-0 {
  margin-bottom: 0!important;
}

.mr-2, .mx-2 {
  margin-right: .5rem!important;
}

.mr-4, .mx-4 {
  margin-right: 1.5rem!important;
}

.lh-125 {
  line-height: 1.25;
}

hr {
  border: 0;
  border-top: 1px solid #dce0e0;
}

button {
  border-radius: 4px;
  border: 1px solid;
  border-color: #c4c4c4;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 1.43;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  background: white;
  color: #484848;
  padding: 7px 18px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0;
}

input[type=text] {
  -webkit-appearance: none;
}